<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>广告商</title>
    <base href="/"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/uploadifive.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- 顶部按钮 -->
            <div class="col-md-4 col-md-offset-8">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">添加</button>
                <button type="button" class="btn btn-danger" >删除</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            <div class="checkbox text-center">
                                <label>
                                    <input type="checkbox">全选
                                </label>
                            </div>
                        </th>
                        <th>uid</th>
                        <th>名称</th>
                        <th>电话</th>
                        <th>地址</th>
                        <th>图片</th>
<!--                         <td>图片</td> -->
                        <th>操作</th>
                    </tr>
                    <tr th:each="product : ${page.list}">
                        <td>
                            <div class="checkbox text-center">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </td>
                        <td th:text="${product.uid}"></td>
                        <td th:text="${product.name}"></td>
                        <td>
<!--                         <td th:text="'默认电话: ' + ${product.tel} + '<br>' + '图片电话: '"> -->
                        	<label th:text="'默认电话: ' + ${product.tel}"></label><br>
                        	<label th:text="'图片电话: ' + ${product.imgTel}"></label>
                        </td>
<!--                         <td th:text="#strings.replace('默认电话: ', ':', ${product.tel})"></td> -->
                        
                        <td th:text="${product.addr}"></td>
                        <td><img th:width="140" th:height="140" th:src="${product.displayImageUrl}" th:onclick="showImages([[${product}]], 0)"></td>
                        <td>
<!--                             <button type="button" class="btn btn-primary btn-xs" th:href="|/product/toUpdate/${product.id}|" data-toggle="modal" data-target="#updateProductModal">修改</button> -->
<!--                             <button type="button" class="btn btn-danger btn-xs" th:onclick="|/product/del/${product.id}|">删除</button> -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#">首页</a></li>
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:class="${page.pageNum == num ? 'active' : ''}"  th:each="num : ${page.navigatepageNums}">
                                <a href="#" th:href="|product/page/${num}/${page.pageSize}|" th:text="${num}">1</a>
                            </li>

                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li><a href="#">尾页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>

    <!--添加商品-->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addProductModalLabel">广告商</h4>
                    <div><label id="defaultPhone">默认电话: </label></div>
                    <div>
                    	<label id="imgPhone">图片电话: </label>
                    	<input type="text" id="imgPhoneInput" placeholder="请输入图片中的电话"> </input>
                    	<button type="button" class="btn btn-primary" id="confimUpdateImgPhone" onclick="">修改</button>
                    </div>
                    <button type="button" class="btn btn-default" id="preImg" onclick="">上一张</button>
                    <button type="button" class="btn btn-default" id="nextImg" onclick="">下一张</button>
                </div>
                <div class="modal-body">
                	<img src="" id="showImage" class="img-responsive" width="1000px"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add" onclick="">添加</button>
                </div>
            </div>
        </div>
    </div>

    <!--更新商品-->
    <!--<div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="updateProductModalLabel">-->
        <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<script src="js/jquery.uploadifive.min.js"></script>
<script type="text/javascript">
    $(function () {
        //清理缓存
        $("#addProductModal").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });

//         //图片上传
//         $("#chooseImage").uploadifive({
//             'buttonText'   : '选择',
//             'uploadScript' : 'commonUpload',
//             'fileObjName'  : 'files',
//             'onUploadComplete' : function(file, resultStr) {
//                 //resultStr是字符串,要转json
//                 debugger
//                 var result = JSON.parse(resultStr);
//                 if(result.errno == 1){
//                 }else{
//                     var imgUrl = result.data[0];
//                     debugger
//                     $("#showImage").attr("src",imgUrl);
//                     $("#image").val(imgUrl);
//                 }
//             }
//         })
    })
    
    var showIndex = 0;
    
    function showImages(advertiser, initIndex) {
    	//弹出模态框
    	$('#addProductModal').modal();
    	//广告商标题
    	$('#addProductModalLabel').html(advertiser.name);
    	//默认电话
    	$('#defaultPhone').html("默认电话: " + advertiser.tel);
    	//图片电话
    	$('#imgPhoneInput').val(advertiser.imgTel === "无或未识别" ? null : advertiser.imgTel);
    	//图片
    	showIndex = initIndex;
    	$("#showImage").attr('src',advertiser.imageUrls[showIndex]);
    	$("#preImg").click(function() {
    		switchImg(false, advertiser);
//     		showIndex--;
//     		if (showIndex == -1) {
//     			showIndex = advertiser.imageUrls.length - 1;
//     		}
//     		$("#showImage").attr('src',advertiser.imageUrls[showIndex]);
    	});
    	$("#nextImg").click(function() {
    		switchImg(true, advertiser);
//     		showIndex++;
//     		if (showIndex == advertiser.imageUrls.length) {
//     			showIndex = 0;
//     		}
//     		$("#showImage").attr('src',advertiser.imageUrls[showIndex]);
    	});
    }
    
    //TODO 切换图片有偶现bug, 待解决
    function switchImg(isNext, advertiser) {
    	showIndex += (isNext ? 1 : -1);
    	if (showIndex == advertiser.imageUrls.length) {
			showIndex = 0;
		} else if (showIndex == -1) {
			showIndex = advertiser.imageUrls.length - 1;
		}
		$("#showImage").attr('src',advertiser.imageUrls[showIndex]);
    }
    
</script>
</html>