<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hj.advertiser.dao.AdvertiserMapper">

	<select id="selectAdvertiserTest" resultType="com.hj.advertiser.model.AdvertiserModel">
  		select * from advertiser
  	</select>

	<update id="updateImgTel" parameterType="com.hj.advertiser.model.UpdateAdvertiserImgPhoneInputModel">
		update advertiser
		set img_tel = #{imgPhone}
		where advertiser_id = #{advertiserId}
	</update>
	
	<insert id="insertAdvertiser" parameterType="com.hj.advertiser.model.AdvertiserModel">
		insert into advertiser(
			bd_uid,
			bd_auth,
			name,
			tel,
			img_tel,
			addr,
			address_norm,
			default_img_url,
			province_name,
			city_name,
			area_name,
			aoi,
			di_tag
		)
		values(
			#{bdUid},
			#{bdAuth},
			#{name},
			#{tel},
			#{imgTel},
			#{addr},
			#{addressNorm},
			#{defaultImgUrl},
			#{provinceName},
			#{cityName},
			#{areaName},
			#{aoi},
			#{diTag}
		)
	</insert>

</mapper>